.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    display: block;
    width: 50px;
    background: #fff;
    background-image: url('./icons/menu.svg');
    background-repeat: no-repeat;
    background-position: 50% 10px;
    background-size: 28px;
    z-index: 2;
}

/* .sidebar-wrapper {
    height: 100vh;
    width: 50px;
    background: #fff;
} */